* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.navbar {
    background-color: #ffffff;
    border: 2px solid red;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.logo {
    background-image: url("./image/logo.png");
    background-size: cover;
    height: 60px;
    width: 160px;
}

.search-bar {
    height: 40px;
    width: 425px;
    display: flex;
    align-items: center;
    text-align: center;
}

.search-icon i {
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(212 222 222);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #0f1111;
}

.search-input input {
    width: 350px;
    font-size: 1rem;
    border: none;
    height: 40px;
    background-color: rgb(212 222 222);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

}

.login {
    height: 24px;
    width: 106px;
    font-size: 0.85rem;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.profile i {
    font-size: 0.75rem;
    margin: 0px 8px 0px 0px;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    background-color: rgb(164, 180, 180);
    height: 134px;
    width: 130%;
    margin-top: 23px;
    display: flex;
}
.img{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 300px;
}

.img img{
    width:60%;
    height: 100px;
}

.hero{
    background-image: url("./image/hero.webp");
    background-size: cover;
    height: 190px;
    display: flex;
    justify-content: center;
    padding-top: 34px;
    margin-top: 23px;
    
}

.hero2{
    background-image: url("./image/panel.webp");
    background-size: cover;
    height: 71px;
    display: flex;
    justify-content: center;
    padding-top: 34px;
    margin-top: 23px;
    width: 1000px;
    
}